._6z3til {
    overflow-wrap: break-word !important;
}

._fgdupie {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: normal !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    color: #484848 !important;
    font-weight: normal !important;
    display: inline !important;
}

._6z3til {
    overflow-wrap: break-word !important;
}

p {
    margin-top: 0;
    margin-bottom: 15px;
}

._y9ev9r {
    overflow: hidden !important;
}

._1n57hdr7 {
    font-weight: 600 !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: normal !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

._n5wk6ic {
    color: #008489 !important;
    font: inherit !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    text-decoration: none !important;
    appearance: none !important;
    background: transparent !important;
    border: 0px !important;
    cursor: pointer !important;
    margin: 0px !important;
    padding: 0px !important;
    user-select: auto !important;
    text-align: left !important;
}

._qtix31 {
    display: table !important;
}

._ni9axhe {
    display: table-cell !important;
    vertical-align: middle !important;
}